<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card Component's page</title>
<script defer src="/app.js"></script><link href="/assets/css/styles.css" rel="stylesheet"></head>
<body>
    <div class="component-container">
        <div class="c-card">
            <h3 class="c-card__title"> معلومات الشحن</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">رابط معلومات الشحن</a>
            <p class="c-card__desc">
                ان معلومات الشحن غير متوفره,لقد سبق وجعلت اعدادات موقعك بجعله يبيع اغراض فعليه ,الشحن في متجر حتي يتاح لمعرفه كيفيه توفير الشحن لزبائنك
            </p>
        </div>
        <div class="c-card c-card--no-description">
            <h3 class="c-card__title"> معلومات الشحن</h3>
            <a href="#" class="c-btn c-btn--primary c-card__action">رابط معلومات الشحن</a>
        </div>
        <div class="c-card c-card--no-action">
            <h3 class="c-card__title"> معلومات الشحن</h3>
            <p class="c-card__desc">
                ان معلومات الشحن غير متوفره,لقد سبق وجعلت اعدادات موقعك بجعله يبيع اغراض فعليه ,الشحن في متجر حتي يتاح لمعرفه كيفيه توفير الشحن لزبائنك
            </p>
        </div>
    </div>
</body>
</html>